/cache/
/config/development/
/vendor/**/*
email_log.txt
*.log
/api/email_config.php
/assets/output.css
/assets/styles.css
/node_modules/**/*
/src/**/*
/package.json
/package-lock.json
/tailwind.config.js